<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Lista de Films</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header>
      <h1>Lista de Películas</h1>
    </header>
    <main>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Titulo</th>
            <th>Año</th>
            <th>Categorías</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="film: ${films}">
            <th th:text="${film.getId()}"></th>
            <td th:text="${film.getTitle()}"></td>
            <td th:text="${film.getYear()}"></td>
            <td>
              <ul th:each="cat : ${film.getCategories()}">
                <li th:text="${cat.getName()}"></li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>
</html>