<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Lista de Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header>
      <h1>Lista de Clientes</h1>
    </header>
    <main>
      <table class="table">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Tienda</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="customer: ${customers}">
            <th><a th:href="@{/customer/{id}(id=${customer.getId()})}" th:text="${customer.getId()}"></th>
            <td th:text="${customer.getFirstName()}"></td>
            <td th:text="${customer.getLastName()}"></td>
            <td th:text="${customer.getEmail()}"></td>
            <td th:text="${customer.getAddress().getAddress()}"></td>
            <td th:text="${customer.getStore().getAddress().getAddress()}"></td>
            <td><input type="checkbox" th:checked="${customer.isActive()}"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </div>
</body>
</html>